
.idea/dataSources.ids

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/workspace.xml

src/hibernate.cfg.xml

Project-AS.iml

out/production/Project-AS/as.project.domain.model.Usuari.class

out/production/Project-AS/TesterMain.class

out/production/Project-AS/as.project.domain.model.Reserva.class

out/production/Project-AS/hibernate.cfg.xml

out/production/Project-AS/DBTest.class

Project-AS.iml

Project-AS.iml
